<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <p v-for="(lis,idx) of list">索引：{{idx}}-----{{lis}}</p>
        <div v-for="(us,idx) of user">
            <b>id:{{us.id}}---姓名：{{us.name}}</b>
        </div>
        <!-- 循环对象 -->
        <p v-for="(val,key) of fruits">{{val}}</p>
        <!-- v-for迭代数字 值是从1开始 -->
        <p v-for="count of 10">这是第{{count}} 循环</p>
    </div>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                list: [1, 2, 3, 4, 5, 6, 7, 8, 9],
                user: [{
                        id: 1,
                        name: '老张'
                    },
                    {
                        id: 2,
                        name: '老李'
                    }, {
                        id: 3,
                        name: '老刘'
                    }
                ],
                fruits: {
                    id: 1,
                    name: '苹果',
                    kg: 20
                }
            }
        })
    </script>
</body>

</html>